<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SB FLiX 'N Chill</title>
    <title>@ViewBag.Title - SB FLiX 'N Chill</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">FLiX 'N' <span>CHILL</span></a></h1>
                </div>
            </div>
            @*<div class="col-md-6 col-sm-6 col-xs-6">
                <div class="account">
                    <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("CART", "Index", "Cart")</button>
                </div>
            </div>*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
                @Html.Partial("_LoginPartial")
            </div>

            <div class="col-md-12">
                <div class="nav-menus">
                    <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Home", "Index", "Home")</button>
                    @*<button type="button" class="btn btn-secondary btn-lg"><a class="nav-link" href="#Movies">Movies</a></button>*@
                    @if (User.Identity.IsAuthenticated)
                    {
                    <button type="button" class="btn btn-secondary btn-lg">@Html.ActionLink("Movies", "Index", "Movie")</button>
                    }
                </div>
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 "></div>
                </div>
            </div>
            <p>&copy; @DateTime.Now.Year - SB FLiX 'N' Chill</p>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
