@model Movie.Model.MovieDetails

@{
    ViewBag.Title = "Details";
}

<h2>Purchase Content</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="button" class="btn btn-outline-dark">Buy Stream</button>
                <h1></h1>
            </div>
            <select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>Stream Quality</option>
                <option value="HD">HD</option>
                <option value="4K">4K</option>
            </select>
        </div>
        <h1></h1>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Cast)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cast)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MovieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>


<style>
    .btn-outline-dark {
        transition-duration: 0.4s;
        background-color: gray;
        color: black;
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 22px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button:hover {
        background-color: gray; /* Green */
    }
</style>