@model IEnumerable<Movie.Models.MovieListItem>

@{
    ViewBag.Title = "Index";
}

<h2></h2>

@{
    if (User.IsInRole("Administrator"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.MovieId)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th></th>
    </tr>

</table>

@foreach (var item in Model)
{
    <div class="col-med-3 col-sm-3 col-xs-6" style="margin-bottom: 8px">
        <div class="thumbnail event-item" style="height: 475px">
            <img class="img-responsive" style="cursor:pointer; height:160px; width: 100%;" src=@Html.DisplayFor(modelitem => item.Image)>
            <div class="MovieInfo">
                <h5>@Html.ActionLink("Buy Ticket", "Details", "Movie", new { id = item.MovieId }, new { @class = "btn btn-primary btn-large" })</h5>

                <h5>@Html.DisplayFor(modelItem => item.Title) | @Html.DisplayFor(modelItem => item.MovieRating)</h5>
                <h5>@Html.DisplayFor(modelItem => item.Description) </h5>
                <h5>@Html.DisplayFor(modelItem => item.Genre) </h5>
                <h5>@Html.DisplayFor(modelItem => item.Cast) </h5>

                @*<h5>@Html.DisplayFor(modelItem => item.MovieId) </h5>*@

                @{
                    if (User.IsInRole("Administrator"))
                    {
                        <p>
                            <h5>
                                @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                            </h5>
                        </p>
                    }
                }

                @*<h5>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MovieId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MovieId })
                    </h5>*@
            </div>
        </div>
    </div>
}





